- if @trackme_object
  :javascript
    mixpanel.track('#{escape_javascript @trackme_string}', #{@trackme_object.to_json});
- else
  :javascript
    mixpanel.track('#{escape_javascript @trackme_string}');
